<table class="table table-border">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody *ngFor= "let userdetail of usersList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <tr>
            <td> {{userdetail.random}}</td>
            <td> {{userdetail.firstname}} </td>
            <td> {{userdetail.email}}</td>                             
        </tr>
    </tbody>
</table>
<ngb-pagination class="d-flex justify-content-center"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="usersList.length">
</ngb-pagination>