<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div>
    <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="add"
        routerLink="add" >
        Add Details
    </button> 
    <!-- <app-user-form-presentation></app-user-form-presentation> -->
    <br>
    <div class="col-md-4" align="left">
        <input type="text"  class="form-control" name="clientname" placeholder="Search..."
         [(ngModel)]= "searchText">
    </div>

   
    <table class="table table-border">
        <thead>
            <tr>
                <th class="pointer" (click)="sortList('id')">Id&nbsp;
                    <i class="fa fa-sort"></i>
                </th>

                <th class="pointer" (click)="sortList('firstname')">FirstName&nbsp;
                    <i class="fa fa-sort"></i>
                </th>
                <th class="pointer" (click)="sortList('lastname')">LastName&nbsp;
                    <i class="fa fa-sort"></i>
                </th>
                <th class="pointer" (click)="sortList('clientname')">ClientName&nbsp;
                    <i class="fa fa-sort"></i>
                </th>
                <th class="pointer" (click)="sortList('email')">Email&nbsp;
                    <i class="fa fa-sort"></i>
                </th>
                <th class="pointer" (click)="sortList('office')">Office&nbsp;
                    <i class="fa fa-sort"></i></th>
                <th class="pointer" (click)="sortList('contactnumber')">ContactNumber&nbsp;
                    <i class="fa fa-sort"></i></th>
                <th class="pointer" (click)="sortList('dob')">DOB&nbsp;
                        <i class="fa fa-sort"></i></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor= "let userdetail of userListData | searchClientname : searchText | orderBy: key : reverse 
        | paginate: { itemsPerPage: 5, currentPage: p } ">
            <tr>
                <td> {{userdetail.id}} </td>
                <td> {{userdetail.firstname}} </td>
                <td> {{userdetail.lastname}} </td>
                <td> {{userdetail.clientname}} </td>
                <td> {{userdetail.email}}</td>
                <td> {{userdetail.office}} </td>
                <td> {{userdetail.contactnumber}} </td>  
                <td> {{userdetail.dob}}</td>              
                <td class="text-center">
                    <!-- <i class="far fa-ellipsis"></i>
                    <select class="far fa-ellipsis" appearance="fill">
                        <option><i class="far fa-ellipsis"></i>Edit</option>
                        <option>Delete</option>
                    </select> -->

                    <button class="btn btn-success m-1" data-toggle="tooltip" data-placement="right"
                        title="Edit" (click)="getUserById(userdetail.id)" >
                        Edit
                    </button>

                    <button class="btn btn-danger m-1" data-toggle="tooltip" data-placement="right"
                        title="Delete" (click)="deleteUserDetail(userdetail.id)">
                        Delete
                    </button>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <br>
  </div>
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="pagination.onFirst()">First</a></li>
          <li class="page-item"><a class="page-link" (click)="pagination.onPrevious()">Previous</a></li>
          <input #pagination="pagination" [totalPages]="5" (onChangeEventEmitter)="onPageChange($event)"
                appPagination type="number" min="1" max="5" value="1">
          <li class="page-item"><a class="page-link" (click)="pagination.onNext()">Next</a></li>
          <li class="page-item"><a class="page-link" (click)="pagination.onLast()">Last</a></li>
        </ul>
      </nav> -->



  

    


