<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div>
    <button class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="right" title="add"
        routerLink="add" >
        Add Details
    </button> 
    <!-- <app-user-form-presentation></app-user-form-presentation> -->
    <div class="col-md-4" align="left">
        <input type="text"  class="form-control" name="clientname" placeholder="Search..."
         [(ngModel)]= "searchText">
    </div>

   
    <table class="table table-border">
        <thead>
            <tr>
                <th class="pointer" (click)="sortList('id')">Id
                    <span *ngIf="key === 'id'">
                        <span *ngIf="reverse">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="!reverse">
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                      </span>
                </th>

                <th class="pointer" (click)="sortList('firstname')">FirstName
                    <span *ngIf="key === 'firstname'">
                        <span *ngIf="reverse">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="!reverse">
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                      </span>
                </th>
                <th class="pointer" (click)="sortList('lastname')">LastName
                    <span *ngIf="key === 'lastname'">
                        <span *ngIf="reverse">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="!reverse">
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                      </span>
                </th>
                <th class="pointer" (click)="sortList('clientname')">ClientName
                    <span *ngIf="key === 'clientname'">
                        <span *ngIf="reverse">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="!reverse">
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                      </span>
                </th>
                <th class="pointer" (click)="sortList('email')">Email
                    <span *ngIf="key === 'email'">
                        <span *ngIf="reverse">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="!reverse">
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                      </span>
                </th>
                <th>Office</th>
                <th>ContactNumber</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor= "let userdetail of userListData | searchClientname : searchText | orderBy: key : reverse 
        | paginate: { itemsPerPage: 10, currentPage: 1 } ">
            <tr>
                <td> {{userdetail.id}} </td>
                <td> {{userdetail.firstname}} </td>
                <td> {{userdetail.lastname}} </td>
                <td> {{userdetail.clientname}} </td>
                <td> {{userdetail.email}}</td>
                <td> {{userdetail.office}} </td>
                <td> {{userdetail.contactnumber}} </td>                
                <td class="text-center">
                    <!-- <i class="far fa-ellipsis"></i>
                    <select class="far fa-ellipsis" appearance="fill">
                        <option><i class="far fa-ellipsis"></i>Edit</option>
                        <option>Delete</option>
                    </select> -->

                    <button class="btn btn-success m-1" data-toggle="tooltip" data-placement="right"
                        title="Edit" (click)="getUserById(userdetail.id)">
                        Edit
                    </button>

                    <button class="btn btn-danger m-1" data-toggle="tooltip" data-placement="right"
                        title="Delete" (click)="deleteUserDetail(userdetail.id)">
                        Delete
                    </button>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>


