<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div>
    <button class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="right" title="add"
        routerLink="add" >
        Add Details
    </button> 
    <!-- <app-user-form-presentation></app-user-form-presentation> -->
    <div class="col-md-4" align="left">
        <input type="text"  class="form-control" name="clientname" placeholder="Search..."
         [(ngModel)]= "searchText">

    </div>

    <table class="table table-border">
        <thead>
            <tr>
                <th>Id</th>
                <th class="pointer" (click)="sort('firstname')">FirstName</th>
                <th>LastName</th>
                <th>ClientName</th>
                <th>Email</th>
                <th>Office</th>
                <th>ContactNumber</th>
            </tr>
        </thead>
        <tbody *ngFor= "let userdetail of userListData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | 
        searchClientname : searchText ">
            <tr>
                <td> {{userdetail.id}} </td>
                <td> {{userdetail.firstname}} </td>
                <td> {{userdetail.lastname}} </td>
                <td> {{userdetail.clientname}} </td>
                <td> {{userdetail.email}}</td>
                <td> {{userdetail.office}} </td>
                <td> {{userdetail.contactnumber}} </td>                
                <td class="text-center">
                    <button class="btn btn-success m-1" data-toggle="tooltip" data-placement="right"
                        title="Edit" (click)="getUserById(userdetail.id)">
                        Edit
                    </button>

                    <button class="btn btn-danger m-1" data-toggle="tooltip" data-placement="right"
                        title="Delete" (click)="deleteUserDetail(userdetail.id)">
                        Delete
                    </button>
            </tr>
        </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="userListData.length">
</ngb-pagination>
    <ng-template #noResults>
        <p>No results found for "{{searchText}}".</p>
    </ng-template>
</div>


